@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

@import "tailwindcss";


body {
  background-color: #e9cfeb;
  background-image: radial-gradient(#e21c7022 1px, transparent 1px);
  background-size: 20px 20px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* TextType */

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-garamond: "Garamond", serif;
}
